
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgotten Password</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
<div>
    <img src="~/Image/passforget/pass.jpg" style="height: 300px; width: 1140px;" class="img-responsive center-block"/>
</div>
<div>
    <h3 class="text-center alert alert-dismissable alert-info">Forgot password? Don't worry:)</h3>
</div>
<div class="container" id="passwordresetpage">
    <form role="form" class="form-horizontal" method="post" action="/Member/ForgottenPassword">
        <div class="form-group">
            <label class="control-label">User Name</label>
            <input class="form-control"
                   placeholder="Enter your User Name" type="text" name="UserName">
        </div>
        <div class="form-group">
            <label class="control-label">Secret Question</label>
            <input class="form-control"
                   placeholder="Enter your secret question" type="text" name="SecretQuestion">
        </div>
        <div class="form-group">
            <label class="control-label">Secret Answer</label>
            <input class="form-control"
                   placeholder="Enter your secret answer" type="text" name="SecretAnswer">
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input class="form-control"
                   placeholder="Enter your new password" type="password" name="Password">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <i class="fa fa-lock"></i>&nbsp;Change
            </button>
        </div>
    </form>
    @if (ViewBag.Result != null)
    {
        <p class="alert alert-danger alert-dismissable text-center">@ViewBag.Result</p>
    }
</div>

<script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
</body>
</html>
