
@{
    ViewBag.Title = "Add new user";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <form action="/User/Create" role="form" method="POST">
            <div class="form-group">
                <label>User Name</label>
                <input type="text" class="form-control" required
                       name="UserName" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"  min="3" required
                       name="Password" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input class="form-control" required type="email"
                       name="Email" placeholder="Enter email address">
            </div>
            <div class="form-group">
                <label>Secret question</label>
                <input type="text" class="form-control"
                       name="SecretQuestion" placeholder="Enter secret question">
            </div>
            <div class="form-group">
                <label>Secret answer</label>
                <input type="text" class="form-control"
                       name="SecretAnswer" placeholder="Enter secret answer">
            </div>



            <button type="submit" title="save" class="btn btn-primary">
                <i class="fa fa-save"></i>&nbsp;Save
            </button> 
        </form>
        <span class="alert alert-danger close" id="error">@ViewBag.Message</span>
    </div>
</div>
